---
import { separatorPurple } from "../assets";
const { title } = Astro.props;
---

<div class="flex flex-col items-center px-8 ">
  <h1 class="text-5xl font-semibold mb-8 text-zinc-900">{title}</h1>
  <div class="mb-6">
    <img src={separatorPurple} alt="separador de linea" />
  </div>
</div>
